@import '../../scss/style.scss';

.Card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 150px;
  background-color: $color-white;
  border-radius: 25px;
  box-shadow: 4px 4px 6px 0px rgba(34, 60, 80, 0.1);
  gap: 10px;
  text-align: center;
  padding: 15px;
  color: $color-text-title-light;

  img {
    max-width: 64px;
  }

  .resizeImg {
    width: 45px;
    padding-bottom: 10px;
  }

  .featureName {
    @include font($size: 1.8rem, $height: 20px, $style: normal, $weight: 700);
  }

  .resizeText {
    @include font($size: 1.6rem, $height: 22px, $style: normal, $weight: 600);
  }
}
