@import '../../scss/style.scss';

.backBtn {
  @extend %m-button;
  margin: 15px 0;
  width: 100%;
}

.typeContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 5px 0;
}

.title {
  @include font($size: 1.7rem, $height: 110%, $style: normal, $weight: 700);
  padding: 5px 0;
}

.selectedType {
  border: 2px solid $color-primary-medium;
  border-radius: 5px;
  padding: 2px 5px;
}

.fieldList {
  animation: $anim-slide-up .7s ease;
  margin-top: 10px;
}
